@inherits ModalBase

<div class="modal fade" id="@ModalId" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered mw-650px">
        <div class="modal-content rounded">
            <div class="modal-header pb-0 border-0 justify-content-end">
                <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal"></div>
            </div>
            <div class="modal-body scroll-y px-10 px-lg-15 pt-0 pb-15">
                <div class="mb-13 text-center">
                    <h1 class="mb-3">@L("ChangePassword")</h1>
                </div>
                <div class="d-flex flex-column mb-8 fv-row fv-plugins-icon-container">
                    <label class="d-flex align-items-center fs-6 fw-semibold mb-2">
                        <span class="required">
                            @L("CurrentPassword")
                        </span>
                        <i class="fas fa-exclamation-circle ms-2 fs-7"></i>
                    </label>
                    <input type="password" class="form-control form-control-solid" @bind="ChangePasswordModel.CurrentPassword" @bind:event="oninput" placeholder="@L("CurrentPassword")" />
                </div>
                <div class="d-flex flex-column mb-8 fv-row fv-plugins-icon-container">
                    <label class="d-flex align-items-center fs-6 fw-semibold mb-2">
                        <span class="required">
                            @L("NewPassword")
                        </span>
                        <i class="fas fa-exclamation-circle ms-2 fs-7"></i>
                    </label>
                    <input type="password" class="form-control form-control-solid" @bind="ChangePasswordModel.NewPassword" @bind:event="oninput" placeholder="@L("NewPassword")" />
                </div>
                <div class="d-flex flex-column mb-8 fv-row fv-plugins-icon-container">
                    <label class="d-flex align-items-center fs-6 fw-semibold mb-2">
                        <span class="required">
                            @L("NewPasswordRepeat")
                        </span>
                        <i class="fas fa-exclamation-circle ms-2 fs-7"></i>
                    </label>
                    <input type="password" class="form-control form-control-solid" @bind="ChangePasswordModel.NewPasswordRepeat" @bind:event="oninput" placeholder="@L("NewPasswordRepeat")" />
                </div>
                <div class="text-center">
                    <button type="reset" data-dismiss="modal" class="btn btn-light me-3" @onclick="Cancel">@L("Cancel")</button>
                    <button type="button" class="btn btn-primary" disabled="@ChangePasswordModel.IsChangePasswordDisabled" @onclick="Save">
                        <span class="indicator-label">@L("Ok")</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>