@inherits ModalBase

<div class="modal fade" id="@ModalId" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered mw-650px">
        <div class="modal-content rounded">
            <div class="modal-header pb-0 border-0 justify-content-end">
                <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal"></div>
            </div>
            <div class="modal-body scroll-y px-10 px-lg-15 pt-0 pb-15">
                <div class="mb-13 text-center">
                    <h1 class="mb-3">@L("EmailActivation")</h1>
                    <div class="text-muted fw-semibold fs-5">@L("SendEmailActivationLink_Information")</div>
                </div>
                <div class="d-flex flex-column mb-8 fv-row">
                    <input type="email" class="form-control form-control-solid" placeholder="@L("EmailAddress")" @bind="emailActivationModel.EmailAddress" @bind:event="oninput"/>
                </div>
                <div class="text-center">
                    <button type="reset" data-dismiss="modal" class="btn btn-light me-3" @onclick="Cancel">@L("Cancel")</button>
                    <button type="button" disabled="@emailActivationModel.IsEmailActivationDisabled" class="btn btn-primary" @onclick="Save">
                        <span class="indicator-label">@L("Ok")</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>